<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <style>
        body{
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
  </head>
  <body>
    <h1>SignUp</h1>
    <form action="/user" method="post">
      <label>Full Name </label><br>
      <input type="text" required name="name" placeholder="User Name" /><br>
      <label>Email: </label><br>
      <input type="email" required name="email" placeholder="Email" /><br>
      <label>Password: </label><br>
      <input type="password" required name="password" placeholder="Password" /><br>
      <button type="submit">SignUp</button>
    </form>
  </body>
</html>
